#main{
    margin-left: 0%;
    height: 600px;
    border:1px solid black;
}
#image1{
    position: relative;
    left: 5%;
    float: left;
}
#image2{
    position: relative;
    left: 15%;
    float: left;
}
#image3{
    position: relative;
    left: 25%;
    float: left;
}