<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 9</title>
    <link rel="stylesheet" href="lab9">
</head>

<body>
    <div id="main">
        <div id="image1">
            <p>
                <a href="images/1"><img src="/images/1.jpg" width="200px" height="250px"></a>
            </p>
        </div>
        <div id="image2">
            <p>
                <a href="images/2"><img src="/images/2.jpg" width="200px" height="250px"></a>
            </p>
        </div>
        <div id="image3">
            <p>
                <a href="images/3"><img src="/images/3.jpg" width="200px" height="250px"></a>
            </p>
        </div>
    </div>
</body>
</html>